<template>
    <v-app>
        <v-toolbar class="deep-purple">
            <v-toolbar-side-icon @click.stop="drawer = !drawer" dark></v-toolbar-side-icon>
            <v-toolbar-title>Restaurant Manager</v-toolbar-title>
            <v-toolbar-items>
                <v-btn to="/" flat dark>Menu</v-btn>
                <v-btn
                    v-if="this.hasAuthToken() === true && (currentUserType === 'cook' || currentUserType === 'waiter')"
                    to="/orders" flat dark>Orders</v-btn>
                <v-btn
                    v-if="this.hasAuthToken() === true && (currentUserType === 'waiter' || currentUserType === 'manager')"
                    to="/meals" flat dark>Meals</v-btn>
                <v-btn
                    v-if="this.hasAuthToken() === true && (currentUserType === 'manager' || currentUserType === 'cashier')"
                    to="/invoices" flat dark>Invoices
                </v-btn>
                <v-btn to="/users" v-if="this.hasAuthToken() === true && isManager() === true" flat dark>Users</v-btn>
                <v-btn v-if="this.hasAuthToken() === true && isManager() === false" @click="dialogNewNotification = true">Send notification</v-btn>
            </v-toolbar-items>
        </v-toolbar>
        <v-content>
            <start-shift-component v-if="this.hasAuthToken()"/>
            <router-view/>
        </v-content>
        <v-navigation-drawer
            temporary
            v-model="drawer"
            :mini-variant="mini"
            light
            absolute
        >
            <v-toolbar flat class="transparent">
                <v-list class="pa-0">
                    <v-list-tile avatar>
                        <v-list-tile-avatar v-if="this.hasAuthToken() === true">
                            <img :src="this.getUserPhoto()"/>
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                            <v-list-tile-title>{{ this.getUserName() }}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-toolbar>
            <v-list class="pt-0" dense>
                <v-divider></v-divider>
                <v-list-tile>
                    <v-list-tile-action>
                        <v-icon></v-icon>

                    </v-list-tile-action>
                </v-list-tile>
                <v-list-tile v-if="this.hasAuthToken() === true" to="/profile">
                    <v-list-tile-action>
                        <v-icon color="indigo">person</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Edit Profile</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile v-if="this.hasAuthToken() === true && currentUserType === 'manager'" to="/menu">
                    <v-list-tile-action>
                        <v-icon color="indigo">restaurant</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Create Menu</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile v-if="this.hasAuthToken() === true && currentUserType === 'manager'" to="/tables">
                    <v-list-tile-action>
                        <v-icon color="indigo">menu</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Manage Tables</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile v-if="this.hasAuthToken() === true && currentUserType === 'manager'" to="/statistics">
                    <v-list-tile-action>
                        <v-icon color="indigo">bar_chart</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Statistics</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile v-if="this.hasAuthToken() === false" to="/login">
                    <v-list-tile-action>
                        <v-icon color="indigo">mail</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Login</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile v-else @click="logouts">
                    <v-list-tile-action>
                        <v-icon color="indigo">mail</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Logout</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-layout row justify-center>
            <v-dialog v-model="dialogNewNotification" persistent max-width="290">
                <v-card>
                    <v-card-title class="headline">Send notification to manager</v-card-title>
                    <v-card-text>
                        <v-text-field v-model="notificationText" label="Message" type="text" required></v-text-field>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" flat @click="dialogNewNotification = false">Cancel</v-btn>
                        <v-btn color="green darken-1" flat @click="sendNotification">Send</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
        <v-card>
            <v-snackbar v-if="this.hasAuthToken() === true && currentUserType === 'manager' && shift_active"
                v-model="this.$parent.snackbar"
                :bottom="y === 'bottom'"
                :left="x === 'left'"
                :multi-line="mode === 'multi-line'"
                :right="x === 'right'"
                :timeout="timeout"
                :top="y === 'top'"
                :vertical="mode === 'vertical'"
            >
                {{ this.$parent.text }}
                <v-btn
                    color="pink"
                    flat
                    @click="$parent.snackbar = false"
                >
                    Close
                </v-btn>
            </v-snackbar>
        </v-card>
    </v-app>
</template>

<script>
    export default {
        data() {
            return {
                drawer: false,
                mini: false,
                currentUserType: '',
                notificationText: '',
                dialogNewNotification: false,
                receivedNotification: '',
                shift_active: 0,
                y: 'top',
                x: '',
                mode: '',
                timeout: 0,
                text: '',
                user: false
            }
        },
        methods: {
            getUserName: function () {
                let user = this.$auth.user();
                if (user.name === undefined) {
                    return 'Unregistered User';
                } else {
                    this.currentUserType = user.type;
                    this.shift_active = user.shift_active;
                    return user.name;
                }
            },
            getUserPhoto: function () {
                let user = this.$auth.user();
                if (user.photo_url === undefined || user.photo_url === null) {
                    return "https://randomuser.me/api/portraits/men/85.jpg";
                } else {
                    return "/storage/profiles/" + user.photo_url;
                }
            },
            logouts() {
                this.$auth.logout();
                this.$router.push("/");
            },
            hasAuthToken() {
                return this.$auth.check();
            },
            isManager() {
                return this.$auth.user().type === "manager";
            },
            sendNotification(){
                console.log(this.notificationText)
                this.$socket.emit('send_notification_to_manager', this.notificationText, this.getUserName())
                this.dialogNewNotification = false
            }
        }
    }
</script>

<style scoped>

</style>
