<template>
    <v-form v-if="this.hasAuthToken() === true && (currentUserType === 'manager' || currentUserType === 'cashier')">
        <v-container>
            <span class="headline">Invoice</span>
            <v-layout row wrap>
                <v-flex xs12 sm2>
                    <v-text-field disabled label="Id" v-model="invoice.id"></v-text-field>
                </v-flex>
                <v-flex xs12 sm3>
                    <v-text-field disabled label="Date" v-model="invoice.date"></v-text-field>
                </v-flex>
                <v-flex xs12 sm2>
                    <v-text-field disabled label="Table Number" v-model="invoice.table_number"></v-text-field>
                </v-flex>
                <v-flex xs12 sm5>
                    <v-text-field disabled label="Waiter" v-model="invoice.meal.waiter.name"></v-text-field>
                </v-flex>
                <v-flex xs12>
                    <template>
                        <v-data-table
                            :headers="headers"
                            :items="invoice.items"
                            class="elevation-1"
                            :rows-per-page-items='[50,100,200,{"text":"$vuetify.dataIterator.rowsPerPageAll","value":-1}]'
                        >
                            <template slot="items" slot-scope="props">
                                <td>{{ props.item.name }}</td>
                                <td class="text-xs-right">{{ props.item.pivot.unit_price }}</td>
                                <td class="text-xs-right">{{ props.item.pivot.quantity }}</td>
                                <td class="text-xs-right">{{ props.item.pivot.sub_total_price }}</td>
                            </template>
                        </v-data-table>
                    </template>
                </v-flex>
                <v-flex xs12 sm3>
                    <v-text-field disabled label="Total Price" v-model="invoice.total_price"></v-text-field>
                </v-flex>
                <v-flex xs12 sm3>
                    <v-text-field :disabled="!this.stateWasPending" label="Name" v-model="invoice.name"
                                  :rules="[rules.name]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm3>
                    <v-text-field :disabled="!this.stateWasPending" label="NIF" v-model="invoice.nif"
                                  :rules="[rules.nif]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm3>
                    <v-select :disabled="!this.stateWasPending" :items="invoice_types" label="State"
                              v-model="invoice.state"></v-select>
                </v-flex>

                <v-alert v-model="showSuccess" type="success" dismissible>
                    <strong>{{ successMessage }}</strong>
                </v-alert>
                <v-btn v-if="this.stateWasPending" @click.prevent="updateInvoice">Update</v-btn>
                <v-btn :href="'/api/invoices/generatePDF/' + invoice.id" target="_blank">Open PDF</v-btn>
            </v-layout>
        </v-container>
    </v-form>
</template>

<script>
    /*
    state, date, tnumber,waiter, total price,
     items (quantity, name, unit price, subtotal price)
(if pending, mostrar campos nif e name)
(can mark as paid)
     */
    export default {
        name: "MenuItemComponent",
        data: function () {
            return {
                invoiceId: null,
                types: ['dish', 'drink'],
                invoice: {},
                invoice_types: [
                    'paid',
                    'not paid',
                    'pending'
                ],
                rules: {
                    max: v => v.length <= 255 || 'Max 255 characters',
                    nif: v => v.length == 9 || 'Nif must be 9 digits',
                    name: v => /^[a-zA-Z ]*$/.test(v) || 'Name must have only letters and spaces',
                    required: v => !!v || 'Required.'
                },
                headers: [
                    {
                        text: 'Invoice Items',
                        align: 'left',
                        sortable: true,
                        value: 'name'
                    },
                    {
                        text: 'Price (€)',
                        value: 'pivot.unit_price',
                        align: 'right',
                        sortable: true,
                    },
                    {
                        text: 'Quantity',
                        value: 'pivot.quantity',
                        align: 'right',
                        sortable: true,
                    },
                    {
                        text: 'Sub Total Price (€)',
                        value: 'pivot.sub_total_price',
                        align: 'right',
                        sortable: true,
                    }
                ],
                showSuccess: false,
                successMessage: '',
                stateWasPending: false,
                currentUserType: false
            }
        },
        methods: {
            getInvoice: function () {
                axios.get('invoices/' + this.invoiceId)
                    .then(response => {
                        this.invoice = response.data.data;
                        this.stateWasPending = this.invoice.state === 'pending'
                    });
            },
            updateInvoice() {
                axios.put('invoices/' + this.invoiceId, this.invoice)
                    .then(response => {
                        this.showSuccess = true;
                        this.successMessage = 'Invoice updated.';
                        this.stateWasPending = this.invoice.state === 'pending';
                        this.$socket.emit('invoice_updated', true)
                        if(this.invoice.state === 'paid'){
                            this.$socket.emit('meal_paid', this.invoice.meal.id)
                        }
                    });
            },
            getUserType: function () {
                let user = this.$auth.user();
                if (user.name !== undefined) {
                    this.currentUserType = user.type;
                }
            },
            hasAuthToken() {
                return this.$auth.check();
            }
        },
        mounted() {
            if (this.$route.params.id != null) {
                this.invoiceId = this.$route.params.id;
                this.getInvoice();
                this.getUserType();
            }
        }
    }

</script>

<style scoped>

</style>
