<template>
    <v-flex xs4>
        <v-card :to="'/invoice/' + invoice.id" >
            <v-container fill-height fluid>
                <v-layout fill-height>
                    <v-flex xs12 align-end flexbox>
                        <span class="headline">{{invoice.total_price}} €</span>
                    </v-flex>
                </v-layout>
            </v-container>
            <v-card-title>
                <div>
                    <span class="grey--text">Invoice No. {{invoice.id}}</span><br>
                    <span>{{invoice.meal.table_number}} <template v-if="invoice.meal.waiter"> - {{invoice.meal.waiter.name}}</template></span>
                </div>
            </v-card-title>
        </v-card>
    </v-flex>
</template>

<script>
    module.exports = {
        props: ['invoice'],
        data: function () {
            return {
            }
        },
        methods: {},
        mounted() {
        }
    }
</script>

<style scoped>

</style>
