<template>
    <v-tabs centered color="cyan" dark icons-and-text>
        <v-tabs-slider color="yellow"></v-tabs-slider>

        <v-tab href="#tab-1"> Pending
            <v-icon>local_dining</v-icon>
        </v-tab>
        <v-tab href="#tab-2"> Paid
            <v-icon>local_dining</v-icon>
        </v-tab>
        <v-tab href="#tab-3"> Not Paid
            <v-icon>local_dining</v-icon>
        </v-tab>

        <v-tab-item id="tab-1">
            <v-layout wrap>
                <v-flex xs12 sm3>
                    <v-text-field @keyup="getInvoicesPending" label="Waiter" v-model="searchWaiter"></v-text-field>
                </v-flex>
                <v-flex xs12 sm3>
                    Date: <datepicker style="background-color: #ddd" @selected="getInvoicesPending" v-model="searchDate" :format="customFormatter" :clear-button="true"></datepicker>
                </v-flex>
            </v-layout>
            <v-layout>
                <v-container fluid grid-list-md>
                    <v-layout row wrap>
                        <invoice-one-component v-for="invoice in invoicesPending" :key="invoice.id"
                                               :invoice="invoice"></invoice-one-component>
                    </v-layout>
                </v-container>
            </v-layout>
        </v-tab-item>

        <v-tab-item id="tab-2">
            <v-layout wrap>
                <v-flex xs12 sm3>
                    <v-text-field @keyup="getInvoicesPaid" label="Waiter" v-model="searchWaiter"></v-text-field>
                </v-flex>
                <v-flex xs12 sm3>
                    Date: <datepicker style="background-color: #ddd" @selected="getInvoicesPaid" v-model="searchDate" :format="customFormatter" :clear-button="true"></datepicker>
                </v-flex>
            </v-layout>
            <v-layout>
                <v-container fluid grid-list-md>
                    <v-layout row wrap>
                        <invoice-one-component v-for="invoice in invoicesPaid" :key="invoice.id"
                                               :invoice="invoice"></invoice-one-component>
                    </v-layout>
                </v-container>
            </v-layout>
        </v-tab-item>

        <v-tab-item id="tab-3">
            <v-layout wrap>
                <v-flex xs12 sm3>
                    <v-text-field @keyup="getInvoicesNotPaid" label="Waiter" v-model="searchWaiter"></v-text-field>
                </v-flex>
                <v-flex xs12 sm3>
                    Date: <datepicker style="background-color: #ddd" @selected="getInvoicesNotPaid" v-model="searchDate" :format="customFormatter" :clear-button="true"></datepicker>
                </v-flex>
            </v-layout>
            <v-layout>
                <v-container fluid grid-list-md>
                    <v-layout row wrap>
                        <invoice-one-component v-for="invoice in invoicesNotPaid" :key="invoice.id"
                                               :invoice="invoice"></invoice-one-component>
                    </v-layout>
                </v-container>
            </v-layout>
        </v-tab-item>

    </v-tabs>

</template>

<script>
    import moment from 'moment'
    export default {
        name: "InvoicesComponent",
        data: function () {
            return {
                invoicesPending: [],
                invoicesPaid: [],
                invoicesNotPaid: [],
                searchWaiter: '',
                searchDate: ''
                /*
                dishes: [],
                drinks: [],
                showSuccess: false,
                successMessage: '',
                */
            }
        },
        methods: {
            getInvoicesPending: function (date) {
                date = this.isValidDate(date) ? moment(date).format('YYYY-MM-DD') : this.searchDate
                let search = 'invoices?state=pending&waiter=' + this.searchWaiter;
                search = typeof(date) === 'string' ? search + '&date=' + date : search
                axios.get(search)
                    .then(response => {
                        this.invoicesPending = response.data;
                    });
            },
            getInvoicesPaid: function (date) {
                date = this.isValidDate(date) ? moment(date).format('YYYY-MM-DD') : this.searchDate
                let search = 'invoices?state=paid&waiter=' + this.searchWaiter;
                search = typeof(date) === 'string' ? search + '&date=' + date : search
                axios.get(search)
                    .then(response => {
                        this.invoicesPaid = response.data;
                    });
            },
            getInvoicesNotPaid: function (date) {
                date = this.isValidDate(date) ? moment(date).format('YYYY-MM-DD') : this.searchDate
                let search = 'invoices?state=not paid&waiter=' + this.searchWaiter;
                search = typeof(date) === 'string' ? search + '&date=' + date : search
                axios.get(search)
                    .then(response => {
                        this.invoicesNotPaid = response.data;
                    });
            },
            customFormatter(date) {
                return moment(date).format('YYYY-MM-DD');
            },
            isValidDate(d) {
                console.log(d)
                return d instanceof Date && !isNaN(d);
            },
            updateAll(){
                this.getInvoicesPending();
                this.getInvoicesPaid();
                this.getInvoicesNotPaid();
            }
        },
        mounted() {
            this.getInvoicesPending();
            this.getInvoicesPaid();
            this.getInvoicesNotPaid();
        },
        created() {
            this.$vueEventBus.$on('new-pending-invoice', this.getInvoicesPending)
            this.$vueEventBus.$on('invoice-updated', this.updateAll)
        },
        beforeDestroy() {
            this.$vueEventBus.$off('new-pending-invoice')
            this.$vueEventBus.$off('invoice-updated')
        }
    }
</script>

<style scoped>

</style>
