<template>
    <v-form>
        <v-container>
            <v-alert v-model="failedLogin" type="error" dismissible>
                <strong>{{ failedMessage }}</strong>
            </v-alert>
            <br>
        </v-container>
        <v-container>
            <span class="headline">Login</span>
            <v-text-field label="Username" v-model="credentials.username" :rules="[rules.username]" required></v-text-field>
            <v-text-field label="Password" type="password" v-model="credentials.password" :rules="[rules.password]" required></v-text-field>
            <v-btn v-on:click.prevent="login">Login</v-btn>
        </v-container>
    </v-form>
</template>

<script>

export default {
    name: "LoginComponent",
    data: function () {
        return {
            credentials: {
                username: '',
                password: ''
            },
            e1: false,
            rules: {
                username: v => v.length >= 2 || 'Min 2 characters',
                password: v => v.length >= 3 || 'Min 3 characters'
            },
            failedLogin: false,
            failedMessage: 'Unable to sign in with those credentials.'
        }
    },
    methods: {
        login() {
            let app = this;
            this.$auth.login({
                params: app.credentials,
                success: function () {
                },
                error: function (error) {
                    this.failedLogin = true;
                    this.failedMessage = error.response.data.message;
                },
                rememberMe: true,
                redirect: '/',
                fetchUser: true,
            });
        },
    }
}
</script>

<style scoped>

</style>
