<template>

    <v-flex xs4>
        <v-dialog v-model="orderDialog" fullscreen hide-overlay transition="dialog-bottom-transition">
            <v-container fluid grid-list-md>
                <!--<v-btn slot="activator">Close?</v-btn>-->
                <span class="headline">Orders</span>
                <order-item-prep-component v-for="order in orders" v-bind:key="order.id" v-bind:order="order"></order-item-prep-component>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" flat @click="orderDialog=false">Ok</v-btn>
            </v-container>
        </v-dialog>
        <v-card>
            <v-card-title class="d-flex flex-columns">
                <div>
                    <v-flex xs12 align-end flexbox>
                        <span class="headline"> Status {{meal.state}}</span>
                    </v-flex>
                    <span class="grey--text">Meal nr {{meal.id}}</span><br>
                    <span>Table {{meal.table_number}}</span><br>
                    <span>Start: {{meal.start}}</span><br>
                    <span>Total price: {{meal.total_price_preview}}</span><br>
                    <br>
                    <v-btn v-on:click.prevent="showOrders">See Orders</v-btn>
                    <v-btn v-if="meal.state_order == 0" v-on:click.prevent="finishMeal">Terminated</v-btn>
                    <v-dialog v-model="dialog" persistent max-width="290">
                        <v-btn v-if="meal.state_order != 0" slot="activator">Terminated</v-btn>
                        <v-card>
                            <v-card-title class="headline">Declare this meal as terminated?</v-card-title>
                            <v-card-text>Any order that wasn't delivered will be update to 'not delivered'</v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="green darken-1" flat @click="dialog=false">Cancel</v-btn>
                                <v-btn color="green darken-1" flat v-on:click.prevent="finishMeal">Confirm</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>


                </div>
            </v-card-title>
        </v-card>
    </v-flex>
</template>

<script>
    module.exports = {
        props: ['meal'],
        data: function () {
            return {
                finishedMeal: null,
                dialog: false,
                orderDialog: false,
                orders: []
            }
        },
        methods: {
            finishMeal: function () {
                this.finishedMeal = null;
                this.$emit('finish-click', this.meal.id);
            },
            getOrders: function () {
                axios.get('orders/showMealOrders/' + this.meal.id)
                    .then(response=> {
                        this.orders = response.data;
                    });
            },
            showOrders: function () {
                this.getOrders();
                this.orderDialog = true;
            }
        },
        mounted() {
        }
    }
</script>

<style scoped>

</style>
