<template>
    <v-tabs centered color="cyan" dark icons-and-text>
        <v-tabs-slider color="yellow"></v-tabs-slider>

        <v-tab href="#tab-1" v-on:click.prevent="getAllMeals('active')">Active</v-tab>
        <v-tab href="#tab-1" v-on:click.prevent="getAllMeals('paid')">Paid</v-tab>
        <v-tab href="#tab-1" v-on:click.prevent="getAllMeals('not paid')">Not Paid</v-tab>
        <v-tab href="#tab-1" v-on:click.prevent="getAllMeals('terminated')">Terminated</v-tab>

        <!--<v-tab href="#tab-paid">Paid</v-tab>-->

        <v-tab-item id="tab-1">
            <v-layout>
                <v-container fluid grid-list-md>
                    <v-alert v-model="showSuccess" type="success" dismissible>
                        <strong>{{ successMessage }}</strong>
                    </v-alert>
                    <v-alert v-model="showError" type="error" dismissible>
                        <strong>{{ errorMessage }}</strong>
                    </v-alert>
                    <v-dialog v-model="dialog" max-width="500px">
                        <v-btn slot="activator" color="primary" dark class="mb-2">New Meal</v-btn>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container grid-list-md>
                                    <v-layout wrap>
                                        <v-flex xs12 sm6 md4>
                                            <v-select
                                                :items="freeTables"
                                                label="Table Number"
                                                solo
                                                v-model="newMeal.table_number"
                                            ></v-select>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                                <v-btn color="blue darken-1" flat @click="createMeal">Create</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <v-layout row wrap>
                        <meal-item-component v-for="meal in meals" v-bind:key="meal.id" v-bind:meal="meal"
                                             @finish-click="finishMeal"></meal-item-component>
                    </v-layout>
                </v-container>
            </v-layout>
        </v-tab-item>

        <!--<v-tab-item id="tab-new">-->
            <!---->
        <!--</v-tab-item>-->
    </v-tabs>
</template>

<script type="text/javascript">
    import MealItemComponent from './MealItemComponent.vue';

    export default {
        name: "MealsManagerComponent",
        data: function () {
            return {
                currentUser: '',
                dialog: false,
                meals: [],
                freeTables: [],
                newMeal: {
                    'table_number': 0
                },
                showSuccess: false,
                successMessage: '',
                showError: false,
                errorMessage: ''
            }
        },
        methods: {
            close() {
                this.dialog = false;
                setTimeout(() => {
                    this.newMeal = Object.assign({}, this.newMeal)}, 300);
            },
            getFreeTables: function () {
                axios.get('restaurant_tables/showFreeTables')
                    .then(response => {
                        this.freeTables = response.data;
                    });
            },
            getAllMeals: function ($state) {
                axios.get('meals/showAllMeals/' + $state)
                    .then(response => {
                        this.meals = response.data;
                    });
                this.getFreeTables();
            },
            finishMeal: function (meal) {
                axios.put('meals/' + meal)
                    .then(response => {
                        console.log(response.data);
                        console.log(11111);
                        console.log(meal);
                        this.showSuccess = true;
                        this.successMessage = 'Meal Terminated';
                        this.getAllMeals('active');

                        this.$socket.emit('meal_terminated', meal)
                        this.$socket.emit('new_pending_invoice', true)
                    });

            },
            createMeal: function () {
                this.newMeal.responsible_waiter_id = this.currentUser;
                console.log(this.newMeal);
                axios.post('meals', this.newMeal)
                    .then(response => {
                        if (response.data.status !== 'error') {
                            this.showSuccess = true;
                            this.successMessage = 'Meal Successfully Created';
                            this.getAllMeals('active');
                        }
                        else {
                            this.showError = true;
                            this.errorMessage = 'The table is unavailable';
                        }
                    })
                    .catch((err) => {
                        console.log(err);
                    });
            }
        },
        comments: {
            'meal-item-component': MealItemComponent
        },
        computed: {
            formTitle() {
                return 'New Meal';
            }
        },
        mounted() {
            this.currentUser = this.$parent.$auth.user().id;
            this.getAllMeals('active');
            this.getFreeTables();
        },
        watch: {
            dialog(val) {
                val || this.close()
            }
        }
    }
</script>

<style scoped>

</style>
