<template>
    <v-tabs centered color="cyan" dark icons-and-text>
        <v-tabs-slider color="yellow"></v-tabs-slider>

        <v-tab href="#tab-1">Active</v-tab>

        <v-tab-item value="tab-1">
            <v-layout>
                <v-container fluid grid-list-md>
                    <v-alert v-model="showSuccess" type="success" dismissible>
                        <strong>{{ successMessage }}</strong>
                    </v-alert>
                    <v-dialog v-model="dialog" max-width="500px">
                        <v-btn slot="activator" color="primary" dark class="mb-2">New Meal</v-btn>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container grid-list-md>
                                    <v-layout wrap>
                                        <v-flex xs12 sm6 md4>
                                            <v-select
                                                :items="freeTables"
                                                label="Table Number"
                                                solo
                                                v-model="newMeal.table_number"
                                            ></v-select>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                                <v-btn color="blue darken-1" flat @click="createMeal">Create</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <v-layout row wrap>
                        <meal-item-component v-for="meal in meals" v-bind:key="meal.id" v-bind:meal="meal"
                                             @finish-click="finishMeal"></meal-item-component>
                    </v-layout>
                </v-container>
            </v-layout>
        </v-tab-item>

    </v-tabs>
</template>

<script type="text/javascript">

    export default {
        name: "MealsWaiterComponent",
        data: function () {
            return {
                currentUser: '',
                dialog: false,
                meals: [],
                freeTables: [],
                newMeal: {
                    'table_number': 0
                },
                showSuccess: false,
                successMessage: '',
                formTitle: 'Meal'
            }
        },
        methods: {
            close() {
                this.dialog = false;
                setTimeout(() => {
                    this.newMeal = Object.assign({}, this.newMeal)}, 300);
            },
            getFreeTables: function () {
                axios.get('restaurant_tables/showFreeTables')
                    .then(response => {
                        this.freeTables = response.data;
                    });
            },
            getMeals: function () {
                axios.get('meals/showmealsactive/' + this.currentUser)
                    .then(response => {
                        this.meals = response.data;
                    });
            },
            finishMeal: function (meal) {
                axios.put('meals/' + meal)
                    .then(response => {
                        console.log(response.data);
                        this.showSuccess = true;
                        this.successMessage = 'Meal Terminated';
                        this.getMeals();
                        this.$socket.emit('meal_terminated', meal)
                        this.$socket.emit('new_pending_invoice', meal)
                    });
            },
            createMeal: function () {
                this.newMeal.responsible_waiter_id = this.currentUser;
                console.log(this.newMeal);
                axios.post('meals', this.newMeal)
                    .then(response => {
                        console.log(this.newMeal);
                        console.log(response.data);
                        this.showSuccess = true;
                        this.successMessage = 'Meal Successfully Created';
                        this.getMeals();
                    })
                    .catch((err) => {
                        console.log(err);
                    });
            }
        },
        mounted() {
            this.currentUser = this.$parent.$auth.user().id;
            this.getMeals();
            this.getFreeTables();
        },
        watch: {
            dialog(val) {
                val || this.close()
            }
        }
    }
</script>

<style scoped>

</style>
