<template>
    <meals-waiter-component v-if="currentUserType === 'waiter'"></meals-waiter-component>
    <meals-manager-component v-else-if="currentUserType === 'manager'"></meals-manager-component>
</template>

<script type="text/javascript">
     export default {
        name: "MealsComponent",
        data: function(){
            return {
                currentUserType: ''
            }
        },
        mounted() {
            this.currentUserType = this.$auth.user().type;
        }
    }
</script>

<style scoped>

</style>
