<template>
    <v-form>
        <v-container>
            <v-alert v-model="showSuccess" type="success" dismissible>
                <strong>{{ successMessage }}</strong>
            </v-alert>
            <br>
            <span class="headline" v-if="itemId == null">New menu</span>
            <span class="headline" v-if="itemId != null">Update item {{item.name}}</span>
            <v-text-field label="Name" v-model="item.name" :rules="[rules.max, rules.required]"></v-text-field>
            <v-select :items="types" label="Type" v-model="item.type"  :rules="[rules.required]"></v-select>
            <v-text-field label="Description" v-model="item.description" :rules="[rules.max, rules.required]"></v-text-field>
            <v-text-field type="number" label="Price" v-model="item.price" :rules="[rules.price, rules.required]"></v-text-field>
            <v-btn raised @click="pickFile">Upload photo</v-btn>
            <input hidden type="file" id="file" ref="file" v-on:change="handleFileUpload">
            <span v-if="item.photo_url != null && photo_name == ''"> {{item.photo_url}}</span>
            <span v-else> {{photo_name}}</span><br>
            <br>
            <v-btn v-if="itemId == null" v-on:click.prevent="createMenu">Create</v-btn>
            <v-btn v-if="itemId != null" v-on:click.prevent="updateItem">Update</v-btn>
        </v-container>
    </v-form>
</template>

<script>
    export default {
        name: "MenuItemComponent",
        data: function(){
            return {
                itemId: null,
                types: ['dish', 'drink'],
                item: {
                    name: '',
                    type: '',
                    description: '',
                    price: '',
                    photo_url: null
                },
                photo_name: '',
                rules: {
                    max: v => v.length <= 255 || 'Max 255 characters',
                    price: v => v.length <= 11 || 'Max 11 characters',
                    required: v => !!v || 'Required.'
                },
                showSuccess: false,
                successMessage: ''
            }
        },
        methods:{
            createMenu: function () {
                let formData = new FormData();
                formData.append('name', this.item.name);
                formData.append('description', this.item.description);
                formData.append('type', this.item.type);
                formData.append('price', this.item.price);
                formData.append('file', this.item.photo_url);
                axios.post('items', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                    }
                }).then(response => {
                        this.showSuccess = true;
                        this.successMessage = 'Item created';
                    })
                    .catch(response => {
                        this.showSuccess = true;
                        this.successMessage = response.data.data;
                    });
            },
            handleFileUpload: function(){
                this.item.photo_url = this.$refs.file.files[0];
                this.photo_name = this.item.photo_url.name;
            },
            pickFile: function () {
                this.$refs.file.click();
            },
            getItem: function () {
                axios.get('items/' + this.itemId)
                    .then(response => {
                        this.photo_name = '';
                        this.item.name = response.data.data.name;
                        this.item.description = response.data.data.description;
                        this.item.type = response.data.data.type;
                        this.item.price = response.data.data.price;
                        this.item.photo_url = response.data.data.photo_url;
                });
            },
            updateItem: function () {
                let formData = new FormData();
                formData.append('file', this.item.photo_url);
                axios.post('items/storeimage/'+this.itemId, formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                    }
                }).then();

                axios.put('items/'+ this.itemId, this.item)
                    .then(response=> {
                        this.showSuccess = true;
                        this.successMessage = 'Item updated.';
                        this.getItem();
                    });
            }
        },
        mounted() {
            if(this.$route.params.id != null){
                this.itemId = this.$route.params.id;
                this.getItem();
            }
        }
    }

</script>

<style scoped>

</style>
