<template>
    <v-tabs centered color="cyan" dark icons-and-text>
        <v-tabs-slider color="yellow"></v-tabs-slider>

        <v-tab href="#tab-1"> Dishes
            <v-icon>local_dining</v-icon></v-tab>
        <v-tab href="#tab-2"> Drinks
            <v-icon>local_bar</v-icon></v-tab>

        <v-tab-item id="tab-1">
            <v-layout>
                <v-container fluid grid-list-md>
                    <v-alert v-model="showSuccess" type="success" dismissible>
                        <strong>{{ successMessage }}</strong>
                    </v-alert>
                    <v-layout row wrap>
                        <menu-item-dish-component v-for="dish in dishes" v-bind:key="dish.id" v-bind:dish="dish"
                                                  @update-click="updateDish" @delete-click="deleteDish"></menu-item-dish-component>
                    </v-layout>
                </v-container>
            </v-layout>
        </v-tab-item>

        <v-tab-item id="tab-2">
            <v-layout>
                <v-container fluid grid-list-md>
                    <v-alert v-model="showSuccess" type="success" dismissible>
                        <strong>{{ successMessage }}</strong>
                    </v-alert>
                    <v-layout row wrap>
                        <menu-item-drink-component v-for="drink in drinks" v-bind:key="drink.id" v-bind:drink="drink"
                                                   @update-click="updateDrink" @delete-click="deleteDrink"></menu-item-drink-component>
                    </v-layout>
                </v-container>
            </v-layout>
        </v-tab-item>
    </v-tabs>

</template>

<script>
    export default {
        name: "MenuComponent",
        data: function(){
            return {
                dishes: [],
                drinks: [],
                showSuccess: false,
                successMessage: '',
            }
        },
        methods: {
            getDishes: function () {
                axios.get('items/showdishes')
                    .then(response => {
                        this.dishes = response.data;
                    });
            },
            getDrinks: function () {
                axios.get('items/showdrinks')
                    .then(response => {
                        this.drinks = response.data;
                    });
            },
            updateDish: function (dish) {
                this.$router.push({ name: 'MenuItemNewComponent', params: {id: dish} });
            },
            updateDrink: function (drink) {
                this.$router.push({ name: 'MenuItemNewComponent', params: {id: drink} });
            },
            deleteDish: function (dish) {
                axios.delete('items/'+ dish)
                    .then(response=> {
                        this.showSuccess = true;
                        this.successMessage = 'Dish deleted.';
                        this.getDishes();
                    });
            },
            deleteDrink: function (drink) {
                axios.delete('items/'+ drink)
                    .then(response=> {
                        this.showSuccess = true;
                        this.successMessage = 'Drink updated.';
                        this.getDrinks();
                    });
            }
        },
        mounted() {
            this.getDishes();
            this.getDrinks();
        }
    }
</script>

<style scoped>

</style>
