<template>
    <v-flex xs4>
        <v-card>
            <v-img
                class="white--text"
                height="200px"
                :src="'/storage/items/' + drink.photo_url"></v-img>

            <v-container fill-height fluid>
                <v-layout fill-height>
                    <v-flex xs12 align-end flexbox>
                        <span class="headline">{{drink.name}}</span>
                    </v-flex>
                </v-layout>
            </v-container>
            <v-card-title>
                <div>
                    <span class="grey--text">€ {{drink.price}}</span><br>
                    <span>{{drink.description}}</span>
                </div>
            </v-card-title>
            <v-card-actions v-if="currentUserType === 'manager'">
                <v-btn v-on:click.prevent="updateDrink">Update</v-btn>
                <v-dialog v-model="dialog" persistent max-width="290">
                    <v-btn slot="activator">Delete</v-btn>
                    <v-card>
                        <v-card-title class="headline">Declare this item as deleted?</v-card-title>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="green darken-1" flat @click="dialog=false">Cancel</v-btn>
                            <v-btn color="green darken-1" flat v-on:click.prevent="deleteDrink">Confirm</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-card-actions>
        </v-card>
    </v-flex>
</template>

<script>
    module.exports= {
        props: ['drink'],
        data: function(){
            return {
                currentUserType: '',
                delDrink: null,
                updDrink: null,
                dialog: false
            }
        },
        methods:{
            deleteDrink: function(){
                this.delDrink = null;
                this.$emit('delete-click', this.drink.id);
            },
            updateDrink: function(){
                this.updDrink = null;
                this.$emit('update-click', this.drink.id);
            }
        },
        mounted(){
            this.currentUserType = this.$auth.user().type;
        }

    }
</script>

<style scoped>

</style>
