<template>
    <v-tabs centered color="cyan" dark icons-and-text>
        <v-tabs-slider color="yellow"></v-tabs-slider>

        <v-tab href="#tab-1"> Pending/Confirmed
            <v-icon>refresh</v-icon></v-tab>
        <v-tab href="#tab-2"> Prepared
            <v-icon>arrow_right</v-icon></v-tab>
        <v-tab href="#tab-3"> Delivered ?
            <v-icon>check</v-icon></v-tab>

        <v-tab-item id="tab-1">
            <v-layout>
                <v-container fluid grid-list-md>
                    <v-alert v-model="showSuccess" type="success" dismissible>
                        <strong>{{ successMessage }}</strong>
                    </v-alert>
                    <v-layout row wrap>
                        <v-dialog v-model="dialog" max-width="500px">
                            <v-btn slot="activator" color="primary" dark class="mb-2">New Order</v-btn>
                            <v-card>
                                <v-card-title>
                                    <span class="headline">{{ formTitle }}</span>
                                </v-card-title>

                                <v-card-text>
                                    <v-container grid-list-md>
                                        <v-layout wrap>
                                            <v-flex xs12 sm6 md4>
                                                <v-select
                                                    :items="meals"
                                                    label="Meal Number"
                                                    solo
                                                    v-model="newOrder.meal_id"
                                                ></v-select>
                                            </v-flex>
                                            <v-flex xs12 sm6 md4>
                                                <v-select
                                                    :items="items"
                                                    label="Item Name"
                                                    item-text="name"
                                                    item-value="id"
                                                    solo
                                                    v-model="newOrder.item_id"
                                                ></v-select>
                                            </v-flex>
                                        </v-layout>
                                    </v-container>
                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                                    <v-btn color="blue darken-1" flat @click="createOrder">Create</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                        <order-item-pend-component v-for="order in ordersPC" v-bind:key="order.id" v-bind:order="order"
                                                   @cancel-click="cancelOrder"></order-item-pend-component>
                    </v-layout>
                </v-container>
            </v-layout>
        </v-tab-item>

        <v-tab-item id="tab-2">
            <v-layout>
                <v-container fluid grid-list-md>
                    <v-alert v-model="showSuccess" type="success" dismissible>
                        <strong>{{ successMessage }}</strong>
                    </v-alert>
                    <v-layout row wrap>
                        <order-item-prep-component v-for="order in ordersP" v-bind:key="order.id" v-bind:order="order"
                                                   @delivered-click="deliveredOrder"></order-item-prep-component>
                    </v-layout>
                </v-container>
            </v-layout>
        </v-tab-item>

        <v-tab-item id="tab-3">
            <v-layout>
                <v-container fluid grid-list-md>
                    <v-alert v-model="showSuccess" type="success" dismissible>
                        <strong>{{ successMessage }}</strong>
                    </v-alert>
                    <v-layout row wrap>
                        <order-item-deliv-component v-for="order in ordersD" v-bind:key="order.id" v-bind:order="order"></order-item-deliv-component>
                    </v-layout>
                </v-container>
            </v-layout>
        </v-tab-item>
    </v-tabs>
</template>

<script type="text/javascript">
    export default {
        name: "OrdersWaiterComponent",
        data: function(){
            return {
                currentUser: '',
                dialog: false,
                ordersPC: [],
                ordersP: [],
                ordersD: [],
                showSuccess: false,
                successMessage: '',
                meal_id_filter: -1,
                formTitle: "New Order",
                newOrder: {
                    meal_id: null,
                    item_id: null
                },
                meals: [],
                items: []
            }
        },
        methods:{
            close() {
                this.dialog = false;
                setTimeout(() => {
                    this.newOrder = Object.assign({}, this.newOrder)}, 300);
            },
            getActiveMealsForWaiter: function () {
                axios.get('meals/showMealsActive/' + this.currentUser)
                    .then(response => {
                        this.meals = response.data.map( function( el ){
                            return el.id;
                        });
                    });
            },
            getItems: function () {
                axios.get('items')
                    .then(response => {
                        console.log(response.data);
                        this.items = response.data.data;
                    });
            },
            createOrder: function () {
                this.newOrder.responsible_waiter_id = this.currentUser;
                // console.log(this.newOrder);
                axios.post('orders', this.newOrder)
                    .then(response => {
                        console.log(response.data);
                        this.showSuccess = true;
                        this.successMessage = 'Order Successfully Created';
                        this.getOrders();
                    })
                    .catch((err) => {
                        console.log(err);
                    });
            },
            getOrdersConfPend: function(){
                axios.get('orders/showorderspenconf/' + this.currentUser)
                    .then(response=> {
                        this.ordersPC = response.data;
                    });
            },
            cancelOrder: function (order) {
                axios.delete('orders/'+order)
                    .then(response=> {
                        this.showSuccess = true;
                        this.successMessage = 'Order Canceled';
                        this.getOrdersConfPend();
                        this.$socket.emit('orders_updated', true)
                    });
            },
            getOrdersPrep: function(){
                axios.get('orders/showordersprep/' + this.currentUser)
                    .then(response=> {
                        this.ordersP = response.data;
                    });
            },
            deliveredOrder: function (order) {
                axios.put('orders/'+ order)
                    .then(response=> {
                        this.showSuccess = true;
                        this.successMessage = 'Order Delivered!';
                        this.getOrdersPrep();
                        this.$socket.emit('orders_updated', true)
                    });
            },
            getOrdersDelivered: function(){
                axios.get('orders/showordersdelivered/' + this.currentUser)
                    .then(response=> {
                        this.ordersD = response.data;
                    });
            },
        },
        computed: {
            filterOrders : function () {
                if (this.meal_id_filter === -1) {
                    return;
                }
                this.ordersPC.filter(function (u) {
                    return u.meal_id === this.meal_id_filter;
                });
                this.ordersP.filter(function (u) {
                    return u.meal_id === this.meal_id_filter;
                });
                this.ordersD.filter(function (u) {
                    return u.meal_id === this.meal_id_filter;
                });
            }
        },
        mounted() {
            this.currentUser = this.$auth.user().id;
            this.getOrdersConfPend();
            this.getOrdersPrep();
            this.getOrdersDelivered();
            this.getActiveMealsForWaiter();
            this.getItems();
        },
        watch: {
            dialog(val) {
                val || this.close()
            }
        }
    }
</script>

<style scoped>

</style>
