<template>
    <v-flex xs4>
        <v-card>
            <v-img
                class="white--text"
                height="200px"
                :src="'/storage/items/' + order.photo">
            </v-img>

            <v-card-title class="d-flex flex-columns">
                <div>
                    <v-flex xs12 align-end flexbox>
                        <span class="headline" :class="{ 'text-danger': order.state === 'confirmed' }"> Status {{order.state}}</span>
                    </v-flex>
                    <span class="grey--text">Meal nr {{order.meal_id}}</span><br>
                    <span>Table {{order.table_number}}</span><br>
                    <span>Item: {{order.item}}</span><br>
                    <span>Cook responsible: {{order.user}}</span><br>
                    <span>Start {{order.start}}</span><br>
                    <br>
                </div>
                <div class="d-flex align-items-right" >
                    <v-btn v-if="order.state == 'pending' && btnCancel" v-on:click.prevent="cancelOrder">Cancel</v-btn>
                </div>
            </v-card-title>
        </v-card>
    </v-flex>
</template>

<script>
    module.exports= {
        props: ['order'],
        data: function(){
            return {
                deletingOrder: null,
                btnCancel: true
            }
        },
        methods:{
            cancelOrder: function(){
                this.deletingOrder = null;
                this.$emit('cancel-click', this.order.id);
            }
        },
        mounted(){
            // setTimeout(function(){ this.btnCancel = false; }, 5000);
            var diff = new Date().getTime() - new Date(this.order.created_at).getTime();
            if(diff < 5000){
                this.btnCancel = true;
            } else {
                axios.put('orders/'+ this.order.id)
                    .then(response=> {});
                console.log(111111)
                this.$socket.emit('orders_updated', true)
            }

        }

    }
</script>

<style scoped>
    .text-confirmed {
        color: red !important;
    }
</style>
