<template>
    <v-tabs centered color="cyan" dark icons-and-text>
        <v-tabs-slider color="yellow"></v-tabs-slider>

        <v-tab-item id="tab-1">
            <v-layout>
                <v-container fluid grid-list-md>
                    <v-alert v-model="showSuccess" type="success" dismissible>
                        <strong>{{ successMessage }}</strong>
                    </v-alert>
                    <v-layout row wrap>
                        <order-item-cook-component v-for="order in ordersPC" :key="order.id" :order="order"
                                                   @update-orders="getOrdersConfPend"></order-item-cook-component>
                    </v-layout>
                </v-container>
            </v-layout>
        </v-tab-item>
    </v-tabs>
</template>

<script type="text/javascript">
    export default {
        name: "OrdersWaiterComponent",
        data: function(){
            return {
                currentUser: '',
                ordersPC: [],
                showSuccess: false,
                successMessage: ''
            }
        },
        methods:{
            getOrdersConfPend: function(){
                axios.get('orders/forcook/' + this.currentUser)
                    .then(response=> {
                        this.ordersPC = response.data;
                    });
            },
        },
        mounted() {
            this.currentUser = this.$auth.user().id;
            this.getOrdersConfPend();
        },
        created() {
            this.$vueEventBus.$on('orders-updated', this.getOrdersConfPend)
        },
        beforeDestroy() {
            this.$vueEventBus.$off('orders-updated')
        }
    }
</script>

<style scoped>

</style>
