<template>
    <div>
        <orders-cook-component v-if="currentUserType === 'cook'"></orders-cook-component>
        <orders-waiter-component v-if="currentUserType === 'waiter'"></orders-waiter-component>
    </div>
</template>

<script type="text/javascript">

    export default {
        name: "OrdersComponent",
        data: function(){
            return {
                currentUserType: ''
            }
        },
        mounted() {
            this.currentUserType = this.$auth.user().type;
        }
    }
</script>

<style scoped>

</style>
