<template>
    <v-flex xs4>
        <v-card>
            <v-img
                class="white--text"
                height="200px"
                :src="'/storage/items/' + order.photo">
            </v-img>
            <v-card-title class="d-flex flex-columns">
                <div>
                    <v-flex xs12 align-end flexbox>
                        <span class="headline" :class="{ 'text-danger': order.state === 'confirmed' }"> Status {{order.state}}</span>
                    </v-flex>
                    <span class="grey--text">Meal nr {{order.meal_id}}</span><br>
                    <span>Table {{order.meal.table_number}}</span><br>
                    <span v-if="order.item">Item: {{order.item.name}}</span><br>
                    <span v-if="order.cook">Cook responsible: {{order.cook.name}}</span><br>
                    <span>Start {{order.start}}</span><br>
                    <br>
                </div>
            </v-card-title>
            <div class="d-flex" >
                <v-btn v-if="order.state === 'confirmed'" v-on:click.prevent="startPreparation">Start Preparing</v-btn>
                <v-btn v-if="order.state === 'in preparation'" v-on:click.prevent="endPreparation">Prepared</v-btn>
            </div>
        </v-card>
    </v-flex>
</template>

<script>
    module.exports= {
        props: ['order'],
        data: function(){
            return {
                currentUser: '',
                deletingOrder: null,
                btnCancel: true
            }
        },
        methods:{
            startPreparation(){
                axios.put(`orders/forcook/` + this.order.id, {
                    state: 'in preparation',
                    responsible_cook_id: this.currentUser,
                })
                .then(() =>{
                    console.log(this.order.id);
                    this.$emit('update-orders', this.order.id);
                    this.$socket.emit('orders_updated', true)
                })
            },
            endPreparation(){
                axios.put(`orders/forcook/` + this.order.id, {
                    state: 'prepared',
                    responsible_cook_id: this.currentUser,
                })
                .then(() => {
                    this.$emit('update-orders', this.order.id);
                    this.$socket.emit('orders_updated', true)
                })
            }
        },
        mounted() {
            this.currentUser = this.$auth.user().id;
        }

    }
</script>

<style scoped>
    .text-confirmed {
        color: red !important;
    }
</style>
