<template>
    <v-flex xs4>
        <v-card>
            <v-img
                class="white--text"
                height="200px"
                :src="'/storage/items/' + order.photo">
            </v-img>

            <v-card-title class="d-flex">
                <div>
                    <v-flex xs12 align-end flexbox>
                        <span class="headline"> Status {{order.state}}</span>
                    </v-flex>
                    <span class="grey--text">Meal nr {{order.meal_id}}</span><br>
                    <span>Table {{order.table_number}}</span><br>
                    <span>Item: {{order.item}}</span><br>
                    <span>Cook responsible: {{order.user}}</span><br>
                    <span>Start {{order.start}}</span><br>
                    <br>
                </div>
            </v-card-title>
        </v-card>
    </v-flex>
</template>

<script>
    module.exports= {
        props: ['order'],

    }
</script>

<style scoped>

</style>
