<template>
    <v-form>
        <v-container>
            <v-alert v-model="successUser" type="success" dismissible>
                <strong>{{ successMessage }}</strong>
            </v-alert>
            <br>
            <span class="headline">Edit profile</span>
            <v-text-field label="Username" v-model="user.username" :rules="[rules.min]"></v-text-field>
            <v-text-field label="Name" v-model="user.name" :rules="[rules.min]"></v-text-field>
            <v-text-field type="email" label="Email" disabled v-model="user.email"></v-text-field>
            <v-btn raised @click="pickFile">Upload photo</v-btn>
            <input hidden type="file" id="file" ref="file" v-on:change="handleFileUpload">
            <span v-if="user.photo_url != null && photo_name == ''"> {{user.photo_url}}</span>
            <span v-if="photo_name != null"> {{photo_name}}</span><br>
            <br>
            <v-btn v-on:click.prevent="updateUser">Save</v-btn>
        </v-container>
        <v-divider></v-divider>
        <v-container>
            <v-alert v-model="successPassword" type="success" dismissible>
                <strong>{{ successMessage }}</strong>
            </v-alert>
            <span class="headline">Change password</span>
            <v-text-field type="password" label="New password" v-model="pass.password" :rules="[rules.min]"></v-text-field>
            <v-text-field type="password" label="Confirm password" v-model="pass.conf_pass" :rules="[rules.min, rules.confirm]"></v-text-field>
            <v-btn v-on:click.prevent="updatePassword">Save</v-btn>
        </v-container>
    </v-form>
</template>

<script>
    export default {
        name: "ProfileComponent",
        data: function(){
            return {
                currentUser:'',
                user: [],
                pass: {password: '', conf_pass: ''},
                photo_name: '',
                rules: {
                    min: v => v.length >= 3 || 'Min 3 characters',
                    confirm: pass => this.pass.password == this.pass.conf_pass || 'Passwords doesn\'t match'
                },
                successUser: false,
                successPassword: false,
                successMessage: ''
            }
        },
        methods:{
            getUser: function(){
                axios.get('users/' + this.currentUser)
                    .then(response=> {
                        this.photo_name = '';
                        this.user = response.data.data;
                    });
            },
            updateUser: function () {
                let formData = new FormData();
                formData.append('file', this.user.photo_url);
                axios.post('users/storeimage/'+this.currentUser, formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                    }
                }).then();

                axios.put('users/'+this.currentUser, this.user)
                    .then(response => {
                        this.successUser = true;
                        this.successMessage = 'Profile Update';
                        this.getUser();
                    });
            },
            updatePassword: function () {
                axios.put('users/updatePass/' + this.currentUser, this.pass)
                    .then(response => {
                        this.successPassword = true;
                        this.successMessage = 'New password saved!';
                        this.getUser();
                    });
            },
            handleFileUpload: function(){
                this.user.photo_url = this.$refs.file.files[0];
                this.photo_name = this.user.photo_url.name;
            },
            pickFile: function () {
                this.$refs.file.click();
            }
        },
        mounted() {
            this.currentUser = this.$auth.user().id;
            this.getUser();
        }
    }
</script>

<style scoped>

</style>
