<template>
    <span @click="startStopShift" v-if="this.currentUser">
        <span v-if="shiftStarted">Started Working on {{ shiftStarted | moment("HH:mm:ss") }}: <timeago :datetime="shiftStarted" :autoUpdate="1" :includeSeconds="true"></timeago> End Shift</span>
        <span v-else>Start Shift | <span v-if="shiftEnded">Last Shift: <timeago :datetime="shiftEnded" :autoUpdate="1" :includeSeconds="true"></timeago></span> End Shift</span>
    </span>
</template>

<script>
    export default {
        name: "start-shift-component",
        data() {
            return {
                shiftStarted: false,
                shiftEnded: false
            }
        },
        computed: {
            currentUser() {
                return this.$auth.user().id
            }
        },
        methods: {
            startStopShift() {
                if (this.shiftStarted) {
                    // send data info about whole shift to server
                    this.shiftStarted = false;
                }
                else {
                    // send data info about started shift to server
                    this.shiftStarted = new Date();
                }
                this.sendShift()
            },
            // Pushes posts to the server when called.
            sendShift() {
                // @TODO change userid
                axios.put(`users/updateshift/` + this.currentUser, {
                    last_shift_start: this.shiftStarted || null,
                    last_shift_end: !this.shiftStarted ? new Date() : null,
                    shift_active: this.shiftStarted ? 1 : 0,
                })
                .then(response => {})
                .catch(e => {
                    this.errors.push(e)
                })

                this.shiftEnded = !this.shiftStarted ? new Date() : null

            },
            getShift(){
                axios.get('users/' + this.currentUser)
                    .then(response => {
                        console.log(response.data);
                        if(response.data.data.shift_active){
                            this.shiftStarted = response.data.data.last_shift_start;
                            return;
                        }
                        this.shiftEnded = response.data.data.last_shift_end;
                    });
            }
        },
        mounted(){
            // this.currentUser = this.$auth.user().id;
            setTimeout(this.getShift, 500);
        }
    }
</script>

<style scoped>

</style>
