<template>
    <v-layout>
        <!-- <v-container fluid grid-list-md>
            <div>
                <apexchart width="500" type="bar" :options="options" :series="series"></apexchart>
            </div>
        </v-container> -->

        <v-container fluid grid-list-md>
            <v-layout row wrap>
                <v-data-table :headers="headers" :items="by_item" class="elevation-1" :pagination.sync="pagination">
                    <template slot="items" slot-scope="props">
                        <td class="text-xs-right">{{ props.item.month }}</td>
                        <td class="text-xs-right">{{ props.item.name }}</td>
                        <td class="text-xs-right" v-if="props.item.order_avg != null">{{ props.item.order_avg }}</td>
                        <td class="text-xs-right" v-else> 0 </td>
                    </template>
                </v-data-table>
            </v-layout>
        </v-container>
    </v-layout>
</template>

<script>
    export default {
        name: "StatisticsByItemComponent",
        data () {
            return {
                by_item: [],
                headers: [ {
                    text: 'Month', align: 'left', sortable: false, rowsPerPage: 10
                },
                    { text: 'Item', value: 'name', sortable: true },
                    { text: 'Avg order', value: 'order_avg', sortable: false },
                ],
                pagination: {
                    rowsPerPage: 10
                },
                /*options: {
                    chart: {
                        id: 'vuechart-example'
                    },
                    xaxis: {
                        categories: []
                    }
                },
                series: [{
                    name: 'series-1',
                    data: [30, 40, 45, 50, 49, 60, 70, 91]
                }] */
            }
        },
        methods:{
            getStatsByItem: function () {
                axios.get('stats/statsbyitem')
                    .then(response => {
                        this.by_item = response.data.by_item;
                    });
            },
        },
        mounted() {
            this.getStatsByItem();
        }
    }

</script>

<style scoped>

</style>
