<template>
    <v-layout>
        <v-container fluid grid-list-md>
            <v-layout row wrap>
                <v-data-table :headers="headers_c" :items="orders_by_cook" class="elevation-1" :pagination.sync="pagination">
                    <template slot="items" slot-scope="props">
                        <td>{{ props.item.name }}</td>
                        <td class="text-xs-right" v-if="props.item.orders_c != null">{{ props.item.orders_c }}</td>
                        <td class="text-xs-right" v-else> 0 </td>
                    </template>
                </v-data-table>
            </v-layout>
        </v-container>

        <v-container fluid grid-list-md>
            <v-layout row wrap>
                <v-data-table :headers="headers_w_m" :items="meals_by_waiter" class="elevation-1" :pagination.sync="pagination">
                    <template slot="items" slot-scope="props">
                        <td>{{ props.item.name }}</td>
                        <td class="text-xs-right" v-if="props.item.meals != null">{{ props.item.meals }}</td>
                        <td class="text-xs-right" v-else> 0 </td>
                    </template>
                </v-data-table>
            </v-layout>
        </v-container>

        <v-container fluid grid-list-md>
            <v-layout row wrap>
                <v-data-table :headers="headers_w_o" :items="orders_by_waiter" class="elevation-1" :pagination.sync="pagination">
                    <template slot="items" slot-scope="props">
                        <td>{{ props.item.name }}</td>
                        <td class="text-xs-right" v-if="props.item.orders_w != null">{{ props.item.orders_w }}</td>
                        <td class="text-xs-right" v-else> 0 </td>
                    </template>
                </v-data-table>
            </v-layout>
        </v-container>
    </v-layout>
</template>

<script>
    export default {
        name: "StatisticsByDayComponent",
        data () {
            return {
                headers_c: [ {
                    text: 'Cook', align: 'left', sortable: true, value: 'name', rowsPerPage: 10
                },
                    { text: 'Orders/day', value: 'orders_c' },
                ],
                headers_w_o: [ {
                    text: 'Waiter', align: 'left', sortable: true, value: 'name', rowsPerPage: 10
                },
                    { text: 'Orders/day', value: 'orders_w' },
                ],
                headers_w_m: [ {
                    text: 'Waiter', align: 'left', sortable: true, value: 'name', rowsPerPage: 10
                },
                    { text: 'Meals/day', value: 'meals' },
                ],
                pagination: {
                    rowsPerPage: 10
                },
                orders_by_cook: [],
                orders_by_waiter: [],
                meals_by_waiter: []
            }
        },
        methods:{
            getStatsByDay: function () {
                axios.get('stats/statsbyday')
                    .then(response => {
                        this.orders_by_cook = response.data.orders_by_cook;
                        this.orders_by_waiter = response.data.orders_by_waiter;
                        this.meals_by_waiter = response.data.meals_by_waiter;
                    });
            },
        },
        mounted() {
            this.getStatsByDay();
        }
    }
</script>

<style scoped>

</style>
