<template>
    <v-tabs centered color="cyan" dark icons-and-text>
        <v-tabs-slider color="yellow"></v-tabs-slider>

        <v-tab href="#tab-1"> By day
            <v-icon></v-icon></v-tab>
        <v-tab href="#tab-2"> By month
            <v-icon></v-icon></v-tab>
        <v-tab href="#tab-3"> By item
            <v-icon></v-icon></v-tab>

        <v-tab-item id="tab-1">
            <stats-by-day-component></stats-by-day-component>
        </v-tab-item>

        <v-tab-item id="tab-2">
            <stats-by-month-component></stats-by-month-component>
        </v-tab-item>

        <v-tab-item id="tab-3">
            <stats-by-item-component></stats-by-item-component>
        </v-tab-item>
    </v-tabs>
</template>

<script>
    export default {
        name: "StatisticsComponent",
    }
</script>

<style scoped>

</style>
