<template>
    <v-layout>
        <v-container fluid grid-list-md>
            <v-layout row wrap>
                <v-data-table :headers="headers_m" :items="by_month" class="elevation-1" :pagination.sync="pagination">
                    <template slot="items" slot-scope="props">
                        <td>{{ props.item.year }} - {{ props.item.month }}</td>
                        <td class="text-xs-right">{{ props.item.meal }}</td>
                        <td class="text-xs-right">{{ props.item.orders }}</td>
                        <td class="text-xs-right" v-if="props.item.meal_avg != null">{{ props.item.meal_avg }}</td>
                        <td class="text-xs-right" v-else> 0 </td>
                    </template>
                </v-data-table>
            </v-layout>
        </v-container>
    </v-layout>
</template>

<script>
    export default {
        name: "StatisticsByMonthComponent",
        data () {
            return {
                headers_m: [ {
                    text: 'Month', align: 'left', sortable: false, rowsPerPage: 10
                },
                    { text: 'Meals/month', value: 'meal', sortable: false },
                    { text: 'Orders/month', value: 'orders', sortable: false },
                    { text: 'Avg meal', value: 'avg_meal', sortable: false },
                ],
                pagination: {
                    rowsPerPage: 10
                },
                by_month: []
            }
        },
        methods:{
            getStatsByMonth: function () {
                axios.get('stats/statsbymonth')
                    .then(response => {
                        this.by_month = response.data.by_month;
                    });
            },
        },
        mounted() {
            this.getStatsByMonth();
        }
    }

</script>

<style scoped>

</style>
