<template>
    <v-flex xs4>
        <v-card>
            <v-card-title class="d-flex flex-columns">
                <div>
                    <v-flex xs12 align-end flexbox>
                        <span class="headline"> Table nr {{table.table_number}}</span>
                    </v-flex>
                    <br>
                    <v-btn v-on:click.prevent="deleteTable">Delete</v-btn>
                </div>
            </v-card-title>
        </v-card>
    </v-flex>
</template>

<script>
    module.exports= {
        props: ['table'],
        data: function(){
            return {
                deletingTable: null
            }
        },
        methods:{
            deleteTable: function(){
                this.deletingTable = null;
                this.$emit('delete-click', this.table.table_number);
            }
        }
    }
</script>

<style scoped>

</style>
