<template>
    <v-tabs centered color="cyan" dark icons-and-text>
        <v-tabs-slider color="yellow"></v-tabs-slider>

        <v-tab href="#tab-1">Actives</v-tab>
        <v-tab href="#tab-2">New table</v-tab>

        <v-tab-item id="tab-1">
            <v-layout>
                <v-container fluid grid-list-md>
                    <v-alert v-model="showSuccess" type="success" dismissible>
                        <strong>{{ successMessage }}</strong>
                    </v-alert>
                    <v-layout row wrap>
                        <table-item-component v-for="table in tables" v-bind:key="table.table_number" v-bind:table="table"
                                              @delete-click="deleteTable"></table-item-component>
                    </v-layout>
                </v-container>
            </v-layout>
        </v-tab-item>

        <v-tab-item id="tab-2">
            <v-form>
                <v-container>
                    <v-alert v-model="showSuccess" type="success" dismissible>
                        <strong>{{ successMessage }}</strong>
                    </v-alert>
                    <br>
                    <span class="headline">New table</span>
                    <v-text-field label="Number" v-model="table.table_nr" :rules="[rules.min] "></v-text-field>
                    <v-btn v-on:click.prevent="createTable">Create</v-btn>
                </v-container>
            </v-form>
        </v-tab-item>

    </v-tabs>
</template>

<script>
    export default {
        name: "TablesComponent",
        data: function(){
            return {
                tables: [],
                length: 0,
                table:{
                    table_nr: ''
                },
                showSuccess: false,
                successMessage: '',
                rules: {
                    min: v => v > this.length || 'That table number already exists!',
                },
            }
        },
        methods: {
            getTables: function () {
                axios.get('tables')
                    .then(response => {
                        this.tables = response.data.data;
                        this.length = this.tables.length;
                    });
            },
            deleteTable: function (table) {
                axios.delete('tables/'+ table)
                    .then(response=> {
                        this.showSuccess = true;
                        this.successMessage = 'Table deleted.';
                        this.getTables();
                    });
            },
            createTable: function () {
                axios.post('api/tables', this.table)
                    .then(response => {
                        this.showSuccess = true;
                        this.successMessage = 'Created new table.';
                        this.getTables();
                    });
            }
        },
        mounted() {
            this.getTables();

        }
    }
</script>

<style scoped>

</style>
