<template>
    <v-tabs centered color="cyan" dark icons-and-text>
        <v-tabs-slider color="yellow"></v-tabs-slider>

        <v-tab href="#tab-active">Active</v-tab>

        <v-tab href="#tab-blocked">Blocked</v-tab>

        <v-tab href="#tab-deleted">Deleted</v-tab>

        <v-tab-item value="tab-active">
            <v-layout>
                <v-container fluid grid-list-md>
                    <v-alert v-model="showSuccess" type="success" dismissible>
                        <strong>{{ successMessage }}</strong>
                    </v-alert>
                    <v-alert v-model="showError" type="error" dismissible>
                        <strong>{{ errorMessage }}</strong>
                    </v-alert>
                    <div>
                        <v-toolbar flat color="white">
                            <v-toolbar-title>List of Users</v-toolbar-title>
                            <v-divider
                                class="mx-2"
                                inset
                                vertical
                            ></v-divider>
                            <v-text-field
                                v-model="search"
                                append-icon="search"
                                label="Search"
                                single-line
                                hide-details
                            ></v-text-field>
                            <v-spacer></v-spacer>
                            <v-dialog v-model="dialog" max-width="500px">
                                <v-btn slot="activator" color="primary" dark class="mb-2">New User</v-btn>
                                <v-card>
                                    <v-card-title>
                                        <span class="headline">{{ formTitle }}</span>
                                    </v-card-title>

                                    <v-card-text>
                                        <v-container grid-list-md>
                                            <v-layout wrap>
                                                <v-flex xs6 sm6 md6>
                                                    <v-avatar><img v-if="editedItem.photo_url"
                                                                   :src="'/storage/profiles/' + editedItem.photo_url"
                                                                   alt="Avatar"/>
                                                    </v-avatar>
                                                </v-flex>
                                                <v-flex xs6 sm6 md6>
                                                    <input hidden type="file" id="file" ref="file"
                                                           v-on:change="handleFileUpload">
                                                    <v-btn raised @click="pickFile">Upload photo</v-btn>
                                                </v-flex>
                                                <v-flex xs12 sm6 md4>
                                                    <v-text-field v-model="editedItem.name"
                                                                  label="Name" :rules="[rules.username]"></v-text-field>
                                                </v-flex>
                                                <v-flex xs12 sm6 md4>
                                                    <v-text-field v-model="editedItem.username"
                                                                  :rules="[rules.username]"
                                                                  label="Username"></v-text-field>
                                                </v-flex>
                                                <v-flex xs12 sm6 md4>
                                                    <v-text-field v-model="editedItem.email" :rules="[rules.email]"
                                                                  label="Email"></v-text-field>
                                                </v-flex>
                                                <v-flex xs12 sm6 md4>
                                                    <v-select v-model="editedItem.type" label="Type" :items="types"
                                                              solo></v-select>
                                                </v-flex>
                                                <v-flex xs12 sm6 md4>
                                                    <v-text-field v-if="editedItem.password != null"
                                                                  v-model="editedItem.password"
                                                                  :rules="[rules.password]"
                                                                  label="Password" type="password"></v-text-field>
                                                </v-flex>
                                            </v-layout>
                                        </v-container>
                                    </v-card-text>

                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                                        <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-toolbar>
                        <template>
                            <v-data-table :headers="headers" :items="activeUsers" class="elevation-1" :search="search">
                                <template slot="items" slot-scope="props">
                                    <td>
                                        <v-avatar v-if="props.item.photo_url" size="36px"><img
                                            :src="'/storage/profiles/' + props.item.photo_url" alt="Avatar"/>
                                        </v-avatar>
                                        {{ props.item.name }}
                                    </td>
                                    <td>{{ props.item.type }}</td>
                                    <td>{{ props.item.email }}</td>
                                    <td class="justify-center layout px-0">
                                        <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
                                        <v-icon small class="mr-2" @click="blockItem(props.item, 'block')">block
                                        </v-icon>
                                        <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                                    </td>
                                </template>
                                <v-alert slot="no-results" :value="true" color="error" icon="warning">
                                    Your search for "{{ search }}" found no results.
                                </v-alert>
                            </v-data-table>
                        </template>
                    </div>
                </v-container>
            </v-layout>
        </v-tab-item>

        <v-tab-item value="tab-blocked">
            <v-layout>
                <v-container fluid grid-list-md>
                    <v-alert v-model="showSuccess" type="success" dismissible>
                        <strong>{{ successMessage }}</strong>
                    </v-alert>
                    <div>
                        <v-toolbar flat color="white">
                            <v-toolbar-title>List of Blocked Users</v-toolbar-title>
                            <v-divider
                                class="mx-2"
                                inset
                                vertical
                            ></v-divider>
                            <v-text-field
                                v-model="search"
                                append-icon="search"
                                label="Search"
                                single-line
                                hide-details
                            ></v-text-field>
                            <v-spacer></v-spacer>
                        </v-toolbar>
                        <template>
                            <v-data-table :headers="headers" :items="blockedUsers" class="elevation-1">
                                <template slot="items" slot-scope="props">
                                    <td>
                                        <v-avatar size="36px"><img :src="'/storage/profiles/' + props.item.photo_url"
                                                                   alt="Avatar"/>
                                        </v-avatar>
                                        {{ props.item.name }}
                                    </td>
                                    <td class="text-xs-right">{{ props.item.type }}</td>
                                    <td class="text-xs-right">{{ props.item.email }}</td>
                                    <td class="justify-center layout px-0">
                                        <v-icon small class="mr-2" @click="blockItem(props.item, 'unblock')">unblock
                                        </v-icon>
                                        <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                                    </td>
                                </template>
                                <v-alert slot="no-results" :value="true" color="error" icon="warning">
                                    Your search for "{{ search }}" found no results.
                                </v-alert>
                            </v-data-table>
                        </template>
                    </div>
                </v-container>
            </v-layout>
        </v-tab-item>

        <v-tab-item value="tab-deleted">
            <v-layout>
                <v-container fluid grid-list-md>
                    <v-alert v-model="showSuccess" type="success" dismissible>
                        <strong>{{ successMessage }}</strong>
                    </v-alert>
                    <div>
                        <v-toolbar flat color="white">
                            <v-toolbar-title>List of Deleted Users</v-toolbar-title>
                            <v-divider
                                class="mx-2"
                                inset
                                vertical
                            ></v-divider>
                            <v-text-field
                                v-model="search"
                                append-icon="search"
                                label="Search"
                                single-line
                                hide-details
                            ></v-text-field>
                            <v-spacer></v-spacer>
                        </v-toolbar>
                        <template>
                            <v-data-table :headers="headers" :items="deletedUsers" class="elevation-1">
                                <template slot="items" slot-scope="props">
                                    <td>
                                        <v-avatar size="36px"><img :src="'/storage/profiles/' + props.item.photo_url"
                                                                   alt="Avatar"/>
                                        </v-avatar>
                                        {{ props.item.name }}
                                    </td>
                                    <td class="text-xs-right">{{ props.item.type }}</td>
                                    <td class="text-xs-right">{{ props.item.email }}</td>
                                    <td class="justify-center layout px-0">
                                        <v-icon small @click="restoreItem(props.item)">restore</v-icon>
                                    </td>
                                </template>
                                <v-alert slot="no-results" :value="true" color="error" icon="warning">
                                    Your search for "{{ search }}" found no results.
                                </v-alert>
                            </v-data-table>
                        </template>
                    </div>
                </v-container>
            </v-layout>
        </v-tab-item>
    </v-tabs>
</template>

<script>
    export default {
        data: () => ({
            search: '',
            dialog: false,
            headers: [
                {
                    text: 'Name',
                    align: 'left',
                    value: 'name'
                },
                {text: 'Type', value: 'type'},
                {text: 'Email', value: 'email'},
                {text: 'Actions', value: 'name', sortable: false}
            ],
            users: [],
            editedIndex: -1,
            editedItem: {
                id: 0,
                name: '',
                type: '',
                email: '',
                password: '',
                photo_url: '',
                username: ''
            },
            defaultItem: {
                name: '',
                type: '',
                email: '',
                password: '',
                photo_url: '',
                username: ''
            },
            rules: {
                username: v => v.length >= 2 || 'Min 2 characters',
                email: v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid',
                password: v => v.length >= 3 || 'Min 3 characters'
            },
            showSuccess: false,
            showError: false,
            successMessage: '',
            errorMessage: '',
            types: ['manager', 'cook', 'cashier', 'waiter']
        }),

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'New User' : 'Edit ' + this.editedItem.name
            },
            blockedUsers: function () {
                return this.users.filter(function (u) {
                    return u.blocked === 1 && u.deleted_at == null;
                })
            },
            activeUsers: function () {
                return this.users.filter(function (u) {
                    return u.blocked === 0 && u.deleted_at == null;
                })
            },
            deletedUsers: function () {
                return this.users.filter(function (u) {
                    return u.deleted_at !== null;
                })
            }
        },

        watch: {
            dialog(val) {
                val || this.close()
            }
        },
        methods: {
            getUsers: function () {
                axios.get('users')
                    .then(response => {
                        this.users = response.data.data;
                    });
            },
            handleFileUpload: function () {
                this.editedItem.photo_url = this.$refs.file.files[0];
            },
            pickFile: function () {
                this.$refs.file.click();
            },
            editItem(item) {
                this.editedIndex = this.users.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.dialog = true;
            },
            blockItem(item, type) {
                if (item.id === this.$auth.user().id) {
                    return alert("You can't block or unblock your own user");
                }
                confirm('Are you sure you want to ' + type + ' this item?');
                axios.post('users/block/' + item.id)
                    .then(response => {
                        if (response.data === true) {
                            this.showSuccess = true;
                            this.successMessage = 'User Successfully ' + type + 'ed';
                            this.getUsers();
                        } else {
                            this.showError = true;
                            this.errorMessage = 'There Was a Problem (Un)Blocking the user';
                        }
                    })
                    .catch((err) => {
                        console.log(err);
                    });
            },

            deleteItem(item) {
                if (item.id === this.$auth.user().id) {
                    return alert("You can't delete your own user");
                }
                confirm('Are you sure you want to delete this item?');
                axios.delete('users/' + item.id)
                    .then(response => {
                        console.log(response.data);
                        this.showSuccess = true;
                        this.successMessage = 'User Successfully Deleted';
                        this.getUsers();

                    })
                    .catch((err) => {
                        console.log(err);
                    });
            },

            restoreItem(item) {
                confirm('Are you sure you want to restore this item?');
                axios.post('users/restore/' + item.id)
                    .then(response => {
                        console.log(response.data);
                        this.showSuccess = true;
                        this.successMessage = 'User Successfully Restored';
                        this.getUsers();
                    })
                    .catch((err) => {
                        console.log(err);
                    });
            },

            close() {
                this.dialog = false;
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1;
                }, 300);
            },

            save() {

                if (this.editedIndex > -1) {
                    axios.put('users/' + this.editedItem.id, this.editedItem)
                        .then(response => {
                            console.log(response.data);
                            this.showSuccess = true;
                            this.successMessage = 'User Successfully Updated';
                            this.getUsers();
                        })
                        .catch((err) => {
                            console.log(err);
                        });
                } else {
                    axios.post('auth/register', this.editedItem)
                        .then(response => {
                            console.log(response.data);
                            this.showSuccess = true;
                            this.successMessage = 'User Successfully Created';
                            this.getUsers();
                        });
                }
                this.close();
            }
        }
        ,
        created() {
            this.getUsers();
        }
    }
</script>
