<template>
    <v-form>
        <v-container>
            <v-alert v-model="failedLogin" type="error" dismissible>
                <strong>{{ failedMessage }}</strong>
            </v-alert>
            <br>
        </v-container>
        <v-container>
            <span class="headline">User {{ $route.params.id }}</span>
            <v-text-field label="Username" v-model="user.username" :rules="[rules.username]"
                          required></v-text-field>
            <v-text-field label="Password" type="password" v-model="user.password" :rules="[rules.password]"
                          required></v-text-field>
            <v-text-field label="Email" type="text" v-model="user.email" required></v-text-field>
            <v-text-field label="Type" type="text" v-model="user.type" required></v-text-field>
            <v-btn v-on:click.prevent="saveUser">Save</v-btn>
        </v-container>
    </v-form>
    <!--<div class="jumbotron">-->
    <!--<h2>Edit User</h2>-->
    <!--<div class="form-group">-->
    <!--<label for="inputName">Name</label>-->
    <!--<input-->
    <!--type="text" class="form-control" v-model="user.name"-->
    <!--name="name" id="inputName"-->
    <!--placeholder="Fullname"/>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label for="inputEmail">Email</label>-->
    <!--<input-->
    <!--type="email" class="form-control" v-model="user.email"-->
    <!--name="email" id="inputEmail"-->
    <!--placeholder="Email address"/>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label for="inputType">Role</label>-->
    <!--<input-->
    <!--type="text" class="form-control" v-model="user.type"-->
    <!--name="type" id="inputType"-->
    <!--placeholder="Role"/>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label for="inputName">Username</label>-->
    <!--<input-->
    <!--type="text" class="form-control" v-model="user.username"-->
    <!--name="name" id="inputUsername"-->
    <!--placeholder="Username"/>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<input type="checkbox" class="form-control" v-model="user.blocked" name="blocked" id="inputBlocked">-->
    <!--<label for="inputBlocked">{{ checked }}</label>-->
    <!--</div>-->

    <!--<div class="form-group">-->
    <!--<a class="btn btn-primary" v-on:click.prevent="saveUser()">Save</a>-->
    <!--<a class="btn btn-light" v-on:click.prevent="cancelEdit()">Cancel</a>-->
    <!--</div>-->
    <!--</div>-->
</template>

<script>
    export default {
        data: () => ({
            dialog: false,
            user: {}
        }),
        methods: {
            saveUser: function () {
                axios.put('api/users/' + this.user.id, this.user)
                    .then(response => {
                        // Copy object properties from response.data.data to this.user
                        // without creating a new reference
                        Object.assign(this.user, response.data.data);
                        this.$emit('user-saved', this.user)
                    });
            },
            cancelEdit: function () {
                axios.get('api/users/' + this.user.id)
                    .then(response => {
                        // Copy object properties from response.data.data to this.user
                        // without creating a new reference
                        Object.assign(this.user, response.data.data);
                        this.$emit('user-canceled', this.user);
                    });
            }
        },
        mounted() {
            console.log("MOUNTED")
        }
    }
</script>

<style scoped>

</style>
